[client]
# 默认字符集
default-character-set=utf8mb4
[mysqld]
# 字符集
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
# 服务器引擎
default-storage-engine=InnoDB
# 表名小写
# lower_case_table_names=1
# bin-log
log_bin=mysql_bin
server-id=1
# log-bin=/var/log/mysql/mariadb-bin
# binlog 格式 row statement mixed
binlog_format=row
# 忽略的数据库binlog
binlog-ignore-db=mysql,information_schema
# 到期自动删除
expire_logs_day=7